# Altv stuff
altv-crash-handler.exe
altv-server.exe
.server-crashes-cache
cache
libnode.dll
server.log
modules/js-module
data

# Packages etc.
node_modules

# Git
.github

# Cache
.turbo

# Builded resources
resources
build
generated

# Volumes
postgres_data

.env