.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.html {
  z-index: 10;
}

.body {
  height: 100%;
  width: 100%;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.button-container {
  display: flex;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.text {
  width: fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  font-size: 42px;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}

.red-button {
  background-color: rgba(248, 175, 175, 0.5);
  color: white;
  font-size: 42px;
  border-radius: 20px;
  padding: 15px;
}

.blue-button {
  background-color: rgba(168, 168, 250, 0.5);
  color: white;
  font-size: 42px;
  border-radius: 20px;
  padding: 15px;
}
